
.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0c12;
}

.App-header {
    background-color: #0d0c12;
    font-family: "Source Code Pro", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
}

#mainFlexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #a1a0a8;
}

h1 {
    color: #6a6876;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

#flexBox1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #24232b;
    height: 3.5rem;
    width: 25rem;
}

#copyfileContainer {
    position: relative;
    display: inline-block;
    width: 5.5%;
    height: 40%; 
    left: -5%;
}

#copyfileImage {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

#copyfileContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/grayCopyfile.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
}

#copyfileContainer:hover #copyfileImage {
    opacity: 0;
}

#copyfileContainer:hover::after {
    opacity: 1;
    cursor: pointer;
}

#passwordDisplay {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    font-family: "Source Code Pro", monospace;
}

#flexBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: #24232b;
    height: 26rem;
    width: 25rem;
    justify-content: space-around;
}

#characterLenght {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

#characterLenghtDisplay {
    font-size: 2rem;
    padding-top: 1%;
    font-family: "Source Code Pro", monospace;
}

#passwordOptions1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

#characterLenghtRange {
    background: linear-gradient(to right, #18171f 0%, #18171f 100%);
    height: 7.5%;
    width: 90%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

#characterLenghtRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #a1a0a8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#characterLenghtRange::-webkit-slider-thumb:hover {
    background: #18171f;
    border: solid 1px #a4ffb0;
    transition: background 0.3s;
}

#passwordOptions2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

#divCheckbox1,
#divCheckbox2,
#divCheckbox3,
#divCheckbox4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.checkboxes {
    display: none;
}

.checkboxes + label:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 5px;
    border: 2px solid #a1a0a8;
    background: #18171f;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    bottom: 3.5px;
}

.checkboxes:checked + label:before {
    background: #a4ffb0;
    border: none;
}

#checkbox1:checked + label:after {
    content: '';
    background: url('../images/check_24dp_FILL0_wght400_GRAD0_opsz24.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 44.5%;
    left: 38.25%;
    width: 20px;
    height: 20px;
}

#checkbox2:checked + label::after{
    content: '';
    background: url('../images/check_24dp_FILL0_wght400_GRAD0_opsz24.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 49.75%;
    left: 38.25%;
    width: 20px;
    height: 20px;
}

#checkbox3:checked + label::after{
    content: '';
    background: url('../images/check_24dp_FILL0_wght400_GRAD0_opsz24.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 55%;
    left: 38.25%;
    width: 20px;
    height: 20px;
}

#checkbox4:checked + label::after{
    content: '';
    background: url('../images/check_24dp_FILL0_wght400_GRAD0_opsz24.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 60.25%;
    left: 38.25%;
    width: 20px;
    height: 20px;
}

#passwordStrenght {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background-color: #18171f;
}

#passwordStrenght p {
    margin-left: 15px;
}

#passwordStrenghtDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

#strenghtIndicator {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
}

#lights {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.light {
    width: 6px;
    height: 20px;
    border: 2px solid #a1a0a8;
    border-radius: 10%;
    background: #18171f;
    margin-right: 5px;
}

.light.on.very-weak {
    background: rgb(246, 83, 83);
}

.light.on.weak {
    background: rgb(237, 134, 38);
}

.light.on.medium {
    background: rgb(255, 208, 0);
}

.light.on.strong {
    background: #a4ffb0;
}

#passwordGenerator {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#buttonGenerator {
    font-family: "Source Code Pro", monospace;
    font-weight: bolder;
    background-color: #a4ffb0;
    color: #2b2b34;
    border: none;
    height: 3rem;
    width: 90%;
}

#buttonGenerator:hover {
    background-color: #18171f;
    color: #a4ffb0;
    border: solid 1px #a4ffb0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#buttonGenerator div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttonGenerator:hover img {
    opacity: 0;
    transition: opacity 0.3s;
}

#buttonGenerator:hover::after {
    content: '';
    position: absolute;
    right: 46.770%;
    top: 85.485%;
    transform: translateY(-50%);
    width: 1.12%;
    height: 10.12%;
    background-image: url('../images/arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24 (2).png');
    background-size: contain;
    background-repeat: no-repeat;
}

#arrowImage {
    width: 5%;
    height: 30.5%;
    margin-left: 6%;
}

  
